@media (max-width: 500px) {
  * {
    font-family: "Bubbler One", sans-serif;
  }
  body {
    background-color: #ececec;
  }
  .topHeader {
    display: none;
  }
  #menu__toggle {
    opacity: 0;
  }
  #menu__toggle:checked + .menu__btn > span {
    transform: rotate(45deg);
  }
  #menu__toggle:checked + .menu__btn > span::before {
    top: 0;
    transform: rotate(0deg);
  }
  #menu__toggle:checked + .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .menu__box {
    left: 0 !important;
  }
  .menu__btn {
    position: fixed;
    top: 20px;
    left: 20px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
  }
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #6e5e4f;
    transition-duration: 0.25s;
  }
  .menu__btn > span::before {
    content: "";
    top: -8px;
  }
  .menu__btn > span::after {
    content: "";
    top: 8px;
  }
  .menu__box {
    display: block;
    position: fixed;
    top: 0;
    left: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background-color: #f5ebe0;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
    transition-duration: 0.25s;
  }
  .menu__item {
    display: block;
    padding: 12px 24px;
    color: #1b180e;
    font-family: "Bubbler One", sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    transition-duration: 0.25s;
  }
  .menu__item:hover {
    background-color: #d6d0c9;
  }
  #container {
    display: flex;
    flex-direction: column;
    margin: 50px;
  }
  #passcode {
    gap: 20px;
    display: flex;
    flex-direction: column;
  }

  .submit {
    width: 80px;
    height: 25px;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #6a624e;
    background-color: #f5ebe0;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
  }

  .submit:hover {
    background-color: #6a624e;
    box-shadow: 0px 15px 20px rgba(157, 131, 60, 0.4);
    color: #f5ebe0;
    transform: translateY(-7px);
  }
  #form {
    display: flex;
    flex-direction: column;
    margin: 20px;
    gap: 10px;
  }
  #form > div {
    display: flex;
    align-items: center;
    padding: 5px;
    gap: 10px;
  }
  input[type="text"] {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #6a624e;
  }
  textarea {
    background-color: transparent;
    border: none;
    align-self: flex-start;
    border-bottom: 2px solid #6a624e;
    height: 80px;
    width: 250px;
  }
  #dietary1 {
    display: flex;
    flex-direction: column;
    width: 400px;
    margin: 10px 0px 10px;
  }
  #note {
    display: flex;
    flex-direction: column;
    width: 400px;
    margin: 10px 0px 10px;
  }
}

@media (min-width: 511px) and (max-width: 1200px) {
  * {
    font-family: "Bubbler One", sans-serif;
  }
  body {
    background-color: #ececec;
  }
  .topHeader {
    display: none;
  }
  #menu__toggle:not(:checked) ~ .menu__box {
    left: 0 !important;
  }
  .menu__box {
    display: block;
    position: fixed;
    top: 0;
    left: -100%;
    width: 130px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background-color: #f5ebe0;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
    transition-duration: 0.25s;
  }
  .menu__item {
    display: block;
    padding: 12px 24px;
    color: #1b180e;
    font-family: "Bubbler One", sans-serif;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
    transition-duration: 0.25s;
  }
  .menu__item:hover {
    background-color: #d6d0c9;
  }

  #container {
    display: flex;
    flex-direction: column;
    margin: 40px;
    margin-left: 135px;
  }
  #passcode {
    gap: 10px;
    display: flex;
    flex-direction: column;
  }

  .submit {
    width: 80px;
    height: 25px;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #6a624e;
    background-color: #f5ebe0;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
  }

  .submit:hover {
    background-color: #6a624e;
    box-shadow: 0px 15px 20px rgba(157, 131, 60, 0.4);
    color: #f5ebe0;
    transform: translateY(-7px);
  }
  #form {
    display: flex;
    flex-direction: column;
    margin: 15px;
    gap: 10px;
  }
  #form > div {
    display: flex;
    align-items: center;
    padding: 5px;
    gap: 10px;
  }
  input[type="text"] {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #6a624e;
  }
  textarea {
    background-color: transparent;
    border: none;
    align-self: flex-start;
    border-bottom: 2px solid #6a624e;
    height: 80px;
    width: 250px;
  }
  #dietary1 {
    display: flex;
    flex-direction: column;
    width: 400px;
    margin: 10px 0px 10px;
  }
  #note {
    display: flex;
    flex-direction: column;
    width: 400px;
    margin: 10px 0px 10px;
  }
}

@media (min-width: 1201px) {
  * {
    margin: 0;
    font-family: "Bubbler One", sans-serif;
  }
  .topHeader {
    color: #363732;
    padding: 10px;
    display: flex;
    flex-direction: column;
    background-color: #f5ebe0;
  }
  .verytop {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .justbelow {
    place-self: center;
  }
  .hamburger-menu {
    margin: 0;
  }
  #menu__toggle {
    display: none;
  }
  .menu__box {
    display: flex;
    place-content: center;
    background-color: #f5ebe0;
  }
  .menu__box li {
    margin: 3px;
    color: transparent;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  #active a {
    border-bottom: 1px solid #6a624e;
  }
  .menu__box a:hover {
    border-bottom: 1px solid #6a624e;
  }
  a {
    padding: 3px;
    text-decoration: none;
    color: #dce1e9;
  }
  a:visited {
    padding: 3px;
    text-decoration: none;
    color: #6a624e;
  }
  .heading {
    box-shadow: 2px 4px 7px rgba(75, 75, 75, 0.4);
    margin-bottom: 5px;
  }
  body {
    background-color: #ececec;
  }

  #container {
    display: flex;
    flex-direction: column;
    margin: 50px;
  }
  #passcode {
    gap: 20px;
    display: flex;
    flex-direction: column;
  }

  .submit {
    width: 80px;
    height: 25px;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #6a624e;
    background-color: #f5ebe0;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
  }

  .submit:hover {
    background-color: #6a624e;
    box-shadow: 0px 15px 20px rgba(157, 131, 60, 0.4);
    color: #f5ebe0;
    transform: translateY(-7px);
  }
  #form {
    display: flex;
    flex-direction: column;
    margin: 20px;
    gap: 10px;
  }
  #form > div {
    display: flex;
    align-items: center;
    padding: 5px;
    gap: 10px;
  }
  input[type="text"] {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #6a624e;
  }
  textarea {
    background-color: transparent;
    border: none;
    align-self: flex-start;
    border-bottom: 2px solid #6a624e;
    height: 80px;
    width: 250px;
  }
  #dietary1 {
    display: flex;
    flex-direction: column;
    width: 400px;
    margin: 10px 0px 10px;
  }
  #note {
    display: flex;
    flex-direction: column;
    width: 400px;
    margin: 10px 0px 10px;
  }
}
