#photos {
  margin: 5px;
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  place-items: center;
}

img {
  width: 100%;
  border-radius: 5px;
}

.mainbox {
  position: relative;
}
.mainbox img {
  position: relative;
  z-index: 1;
}
.overlay p {
  place-items: center;
  text-align: center;
  margin-top: 35%;
}
.overlay {
  position: absolute;
  z-index: 2;
  top: 0;
  opacity: 0;
  color: #fff;
  width: 100%;
  height: 100%;
  transition: 0.5s ease;
  background-color: lightslategrey;
}
.mainbox:hover .overlay {
  opacity: 0.85;
}
